footer {
    /* background-color: lightgray; */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 480px) {
    footer {
        font-size: 0.7rem;
    }
}